#register-card-container {
  height: 850px;
  display: flex;
  align-items: center;
}

.register-image-holder {
  background-image: url(/src/assets/night.png);
  width: 55%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.register-card {
  height: 100%;
  width: 45%;
  display: flex;
  justify-content: center;
  background: rgb(19, 8, 82);
  background: linear-gradient(
    25deg,
    rgba(19, 8, 82, 1) 0%,
    rgba(61, 29, 168, 1) 50%,
    rgba(230, 86, 232, 1) 100%
  );
  color: white;
  background: rgb(38, 101, 182);
  background: linear-gradient(
    25deg,
    rgba(38, 101, 182, 1) 0%,
    rgba(104, 59, 201, 1) 50%,
    rgba(0, 17, 43, 1) 100%
  );
}

.register-form {
  margin-top: 100px;
}

#register-form-rePassword:focus, #register-form-password:focus,
#register-form-email:focus {
  border: 2px solid white;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
}

.register-form-title {
  font-size: 50px;
  text-align: center;
}

#register-form-rePassword-ctn,
#register-form-password-ctn,
#register-form-email-ctn {
  position: relative;
}

#register-form-rePassword-ctn i,
#register-form-password-ctn i,
#register-form-email-ctn i {
  position: absolute;
  top: 33px;
  left: 5px;
  font-size: 20px;
}

#register-form-password,
#register-form-email {
  padding: 30px 2px 20px 35px;
  margin-bottom: 30px;
  width: 95%;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  background: transparent;
  color: white;
}

#register-form-rePassword {
  padding: 30px 5px 20px 35px;
  margin-bottom: 30px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  background: transparent;
  color: white;
  width: 95%;
}

#register-form-rePassword::placeholder,
#register-form-password::placeholder,
#register-form-email::placeholder {
  color: white;
}

#register-form-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.register-form-submitBtn {
  border-radius: 40px;
  border: none;
  color: black;
  padding: 15px 60px;
  font-size: 18px;
  background-color: white;
}

.register-form-submitBtn:hover {
  background-color: #cdffff;
  transform: translateY(-2px);
  cursor: pointer;
}

.register-register-link a {
  color: cyan;
  text-decoration: none;
}

.register-form input:-webkit-autofill {
  -webkit-text-fill-color: white;
}