*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: droid-serif, serif;
}

#root {
  font-family: "Montserrat", sans-serif;
}
