.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  min-height: 860px;
  background-image: url("../../assets/abstract.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profile-card {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 45px;
  width: 650px;
  border-radius: 12px;
  text-align: center;
}

.profile-card-text {
  padding: 15px 0;
}

.profile-card-text-name {
  font-size: 36px;
  color: #611ace;
}

.profile-card-text-email {
  font-size: 20px;
  padding-bottom: 11px;
  color: #611ace;
}

.profile-card-image img {
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
}

.profile-card-text-bio-ctn {
  font-size: 20px;
}

.profile-card-button {
  border: none;
  border-radius: 24px;
  background-color: #611ace;
  color: white;
  padding: 15px 50px;
}
